NODE_ENV=development
PORT=3000
ORDER_SERVICE_HOST_PORT=3004
LOG_LEVEL=log

DB_HOST=order-db
DB_PORT=5432
DB_HOST_PORT=5436
DB_USERNAME=order_service
DB_DATABASE=order_service
DB_PASSWORD_FILE=/run/secrets/order_db_password
DB_SYNCHRONIZE=true
