# Application
NODE_ENV=development
PORT=3000
CREDIT_SERVICE_HOST_PORT=3003
LOG_LEVEL=log

# PostgreSQL
DB_HOST=credit-db
DB_PORT=5432
DB_HOST_PORT=5435
DB_USERNAME=credit_service
DB_DATABASE=credit_service
DB_PASSWORD_FILE=/run/secrets/credit_db_password
