SMTP_HOST=
SMTP_PORT={ PORT OF SMTP SERVER }
SMTP_SECURE={ }
SMTP_USER={ USER NAME OF SMTP SERVER }
SMTP_PASS_FILE={ DIRECTORY TO FILE INCLUDING PASSWORD OF SMTP SERVER }
SMTP_FROM_EMAIL={ EMAIL TO SEND MAILS FROM }

LOG_LEVEL={ LOG LEVEL: trace | debug | info | warn | error | fatal, default info; log=info, verbose=debug }

RABBITMQ_USER={ USER TO ACCESS RABBITMQ WITH }
RABBITMQ_HOST={ HOST OF RABBITMQ }
RABBITMQ_PORT={ PORT OF RABBITMQ }
RABBITMQ_VHOST={ VHOST INTEDED TO USE WITH USER SERVICE }
RABBITMQ_PASSWORD_FILE={ FILE PATH WHERE RABBITMQ USER PASSWORD IS MOUNTED }

REDIS_HOST={ HOST OF REDIS }
REDIS_PORT={ PORT OF REDIS }
REDIS_USERNAME={ USERNAME TO ACCESS REDIS WITH }
REDIS_DB_INDEX={ REDIS DB INDEX }
