DB_HOST={YOUR DB HOST NAME HERE}
DB_PORT={YOUR DB PORT HERE}
DB_USERNAME={YOUR DB USERNAME HERE}
DB_DATABASE={YOUR DB NAME HERE}
DB_PASSWORD_FILE_CLIENT={FILE PATH WHERE DB PASSWORD FILE IS MOUNTED FOR CLIENT}
DB_PASSWORD_FILE={FILE PATH WHERE DB PASSWORD FILE IS MOUNTED FOR DBMS}

REDIS_HOST={YOUR REDIS HOST NAME HERE}
REDIS_PORT={YOUR REDIS PORT HERE}
REDIS_USERNAME={YOUR REDIS USERNAME HERE}
REDIS_DB_INDEX={YOUR REDIS DB INDEX HERE}

SERVER_SECRET_FILE={FILE PATH WHERE SERVER SECRET FILE IS MOUNTED}

EMAIL_SERVICE_ENDPOINT={FULL URL INCLUDING PATH TO POST EMAIL TO}
